<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Layout title</title>
</head>
<body>
  <div th:with="principal=${#authentication.principal}">
    <nav class="navbar navbar-dark bg-dark py-1">
      <div class="navbar-text text-white">
        <strong th:text="${principal.email}"></strong>
        <span>with roles:</span>
        <span th:text="${#strings.arrayJoin(principal.roles.![name], ' ')}"></span>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" th:href="@{/logout}">Logout</a>
      </div>
    </nav>
    <div class="container-fluid vh-100">
      <div class="row vh-100">
        <div class="col-2 bg-white px-0 pt-3">
          <nav class="nav flex-column nav-pills">
            <a class="nav-link active"
               th:if="${principal.roles.![name].contains('ADMIN')}"
               th:class="|nav-link ${#request.requestURI.startsWith('/admin') ? 'active' : ''}|"
               th:href="@{/admin}">Admin</a>
            <a class="nav-link"
               th:class="|nav-link ${#request.requestURI.startsWith('/user') ? 'active' : ''}|"
               th:href="@{/user}">User</a>
          </nav>
        </div>
        <div class="col-10 bg-light pt-3">
          <div layout:fragment="content" class="px-3">
            Panel
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script layout:fragment="script"></script>
</body>
</html>