<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layoutError}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Error</title>
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <h1 class="display-1">400</h1>
    <h1 class="display-4">Bad Request</h1>
    <p class="lead">Oops, something wrong with data validation</p>
    <p th:each="error : ${fieldErrors}" th:text="|'${error.field}': ${error.defaultMessage}|"></p>
    <button class="btn btn-primary" onclick="history.go(-1)">Back</button>
  </div>
</div>
</body>
</html>