<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <div>
        <p>
            <label>Users table:</label>
        </p>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Action</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}">id</td>
                <td th:text="${user.getFirstName()}">firstName</td>
                <td th:text="${user.getLastName()}">lastName</td>
                <td class="actions align-center">
                    <a th:href="@{/users/edit(id=${user.getId()})}">Edit</a>
                    <a th:href="@{/users/remove(id=${user.getId()})}">Remove</a>
                </td>
            </tr>
        </table>
        <form action="/users/add" class="align-right">
            <button type="submit">Add user</button>
        </form>
    </div>
</body>
</html>