.table {
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 10px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	padding: 5px 10px;
	border: 1px solid #eee;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}
.user-form input[type=text], input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.actions a {
	margin: 0 10px;
}

button[type=submit] {
	padding: 8px 20px;
	margin: 8px 0;
}

.header {
	padding: 5px;
	background: #efefef;
}

.header span {
	padding-left: 5px;
	padding-right: 5px;
}

.inline {
	display: inline;
}

.float-right {
	float: right;
}